[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Zawgyi Keyboard
GenericName=Zawgyi Keyboard
Comment=Zawgyi Keyboard Layout
Categories=Application;System;
Type=Application
Exec=eog "/usr/local/share/zawgyi/xkb.keyboard.map.png"
Icon=/usr/local/share/pixmaps/zawgyi.png
Terminal=false
StartupNotify=true
